/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FONT KITS																																																														                  *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS																																																																*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/
#intro-wrapper {
    margin: 15% auto 0 auto;
    text-align: center;
}

#intro-wrapper hgroup  {
    margin: 2% 0;
}

#intro-wrapper hgroup h1 {
    margin: 1% 0;
    font-size: 3em;
    color:white;
    font-family: franchiseregular;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
